# Ignore node_modules
node_modules/

# Ignore code coverage report
coverage/

.DS_Store

# Ignore compiled version
www/

# Ignore firebase log files
*-debug.log

# Ignore cordova compiled version
platforms/

# Ignode plugin folder
plugins/