<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-title class="ion-text-xs-start ion-text-lg-center">
      LeCoinDuProf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="items$ | async as items; else loadingItems">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-xs="12" size-sm="6" size-md="4" size-xl="3" *ngFor="let item of items" [routerLink]="[item.id]">
          <ion-card>
            <ion-img
              *ngIf="item.hasPicture && item.picture$ | async as picture; else default_picture"
              [src]="picture"
              alt="Image de l'objet"
              class="cover"
            ></ion-img>
            <ng-template #default_picture>
              <ion-img src="/assets/img/icon.png" alt="Cet objet n'a pas d'image"></ion-img>
            </ng-template>
            <ion-badge color="secondary">
              {{ categoriesService.getCategoryById(item.category).label}}
            </ion-badge>
            <ion-card-header>
              <ion-card-subtitle>
                {{item.formatted_address}}
              </ion-card-subtitle>
              <ion-card-title>{{ item.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ item.description | truncate }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadMore($event, items[items.length - 1])">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ng-template #loadingItems>
    <ion-spinner class="ion-margin"></ion-spinner>
  </ng-template>

  <ion-card *ngIf="endReached" color="light">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">
        Il n'y a pas d'autres objets patagés
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-center">A vous de partager les vôtres !</p>
      <p class="ion-text-center">
        <ion-button routerLink="/app/boxes" color="secondary">
          <ion-icon slot="start" name="cube-outline"></ion-icon>
          Gérer mon inventaire
        </ion-button>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button *ngIf="!!!filters" color="secondary" (click)="openSearchModal(filters)">
    <ion-icon slot="start" name="search-outline"></ion-icon>
    Filtrer
  </ion-button>
  <ion-toolbar *ngIf="!!filters && (filters?.formatted_address !== '' || !!filters?.category)" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="filters = undefined;doRefresh()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <p class="ion-text-no-wrap ion-padding-end">
      <b>Filtre :&nbsp;</b>
      <ion-chip color="secondary" *ngIf="!!filters && !!filters.category">
        {{ categoriesService.getCategoryById(filters.category).label }}
      </ion-chip>
      <ng-container *ngIf="!!filters && !!filters.formatted_address">
        {{ filters.formatted_address }}
        <ion-chip *ngIf="filters.radius === 5">
          &plusmn; 2km
        </ion-chip>
        <ion-chip *ngIf="filters.radius === 4">
          &plusmn; 20km
        </ion-chip>
        <ion-chip *ngIf="filters.radius === 3">
          &plusmn; 80km
        </ion-chip>
        <ion-chip *ngIf="filters.radius === 2">
          &plusmn; 630km
        </ion-chip>
        <ion-chip *ngIf="filters.radius === 1">
          &plusmn; 2500km
        </ion-chip>
      </ng-container>
    </p>
  </ion-toolbar>
</ion-footer>
