ion-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-header {
  background-image: url('/assets/img/home.jpeg');
  background-size: cover;

  ion-toolbar {
    --background: transparent;

    ion-title {
      background-color: transparent !important;
      color: white;
      word-spacing: -0.3ex;
      padding-inline-start: 1rem;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
      font-size: max(1rem, 4vh);
      transform: translateY(-2px);
    }
  }
}

@media (min-width: 769px) {
  .page-header {
    background-position: top;
  }
}

ion-grid {
  ion-card {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    align-items: start;

    ion-badge {
      position: absolute;
      top: 0.33rem;
      right: 0.33rem;

      @media (max-width: 450px) {
        font-size: 10px;
      }
    }

    ion-img {
      grid-column: 1 / 2;
      grid-row: 1/3;
    }

    ion-card-header {
      grid-column: 2 / 4;
      grid-row: 1;

      @media (max-width: 576px) {
        padding: 2em 0.5em 0;
      }

      @media (max-width: 450px) {
        ion-card-subtitle {
          font-size: 10px;
        }

        ion-card-title {
          font-size: 18px;
        }
      }
    }

    ion-card-content {
      grid-column: 2 / 4;
      grid-row: 2;

      @media (max-width: 576px) {
        padding: 0.5ex 1ex 1ex;
      }
    }
  }
}

@media (min-width: 576px) {
  ion-grid {
    ion-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      transition: all 0.2s ease-in-out;

      @media (max-width: 769px) {
        margin: 0;

        ion-card-header {
          order: 2;
        }

        ion-img {
          order: 1;
          max-height: 20vh;
          overflow: hidden;
          background-color: var(--ion-color-light-shade);
          object-fit: cover !important;
        }

        ion-card-content {
          order: 3;
        }
      }

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }

      ion-badge {
        position: absolute;
        top: 0.33rem;
        right: 0.33rem;
      }
    }
  }
}

ion-footer {
  --background: transparent;
  background-color: transparent;
}
