<ion-text>
  <p>
    Les présentes conditions générales d’utilisation (ci-après dénommées « CGU ») ont pour objet déterminer les règles
    d’utilisation de l’application mobile « LeCoinDuProf » (ci-après dénommée l’« Application ») éditée par Alan Crevon
    (ci-après dénommée « L'éditeur »). En installant l’Application sur votre terminal et/ou en accédant à l’Application,
    en tant que visiteur et/ou utilisateur, vous acceptez sans condition ni réserve l’intégralité des CGU définies
    ci-après. Si vous ne souhaitez pas accepter les présentes CGU, nous vous demandons de ne pas accéder à
    l’Application. Toute visite et/ou utilisation de l’Application doit se faire dans le respect des présentes CGU.
  </p>

  <h3>
    Article 1. DEFINITIONS
  </h3>

  <p>
    Les termes débutant par une majuscule au sein des présentes CGU, qu’ils soient utilisés indifféremment au singulier
    ou au pluriel, auront, la signification qui leur est donnée ci-après :
  </p>
  <ul>
    <li>
      « Application » désigne l’application logicielle « LeCoinDuProf » éditée et fournie par Alan Crevon, donnant accès
      aux Services, qui est disponible gratuitement dans l’ « Apple Store » d’Apple et le « Google Play Store » de
      Google pour être téléchargée par l’Utilisateur sur son terminal Apple iOS et Android. L’Application comprend
      également les Contenus, les logiciels, les programmes, les outils (de programmation, de navigation, …), les bases
      de données, les systèmes d’exploitation, la documentation et tous autres éléments et services qui la compose, les
      mises à jour et les nouvelles versions qui peuvent être apportées à l’Application par l'Editeur.
    </li>
    <li>
      « Contenu » désigne sans que cette liste soit limitative, la structure de l’Application, le contenu éditorial, les
      dessins, les illustrations, les images, les photographies, les chartes graphiques, les marques, les logos, les
      sigles, les dénominations sociales, les œuvres audiovisuelles, les œuvres multimédia, les contenus visuels, les
      contenus audio et sonores, ainsi que tout autre contenu présent au sein de l’Application et/ou tout autre élément
      composant l’Application.
    </li>
    <li>
      « CGV » désignent les conditions générales de vente et les conditions particulières de vente de LeCoinDuProf
      applicables aux produits et services qu’elle commercialise, qui figurent sur le Site et s’appliquent de la même
      manière au Site et à l’Application.
    </li>
    <li>« Services » désignent les différentes fonctionnalités et services proposées par l’Application.</li>
    <li>« Site » désigne le site web officiel de LeCoinDuProf dont l’adresse est la suivante : www.lecoinduprof.com</li>
    <li>
      « Utilisateur » ou « Vous » désigne une personne physique majeure ou mineure ayant préalablement obtenu
      l’autorisation de ses parents ou de la personne investie de l'autorité parentale, et ayant téléchargé
      l’Application pour ses besoins propres, dans le cadre d’un usage strictement personnel et non commercial, sans but
      lucratif direct ou indirect.
    </li>
  </ul>

  <h3>
    Article 2. OBJET DE L’APPLICATION
  </h3>

  <p>
    L’Application a pour objet de Vous donner accès à un espace de mise en relation avec d'autres utilisateurs dans le
    but d'emprunter, prêter ou échanger du matériel à usage pédagogique.
    <br />
    Plusieurs Services peuvent être proposés à l’Utilisateur et notamment :
  </p>
  <ul>
    <li>la liste de l’ensemble objets partagés par les Utilisateurs ;</li>
    <li>Un moteur de recherche permettant de filtrer les objets ;</li>
    <li>Une messagerie en temps réel avec notifications ;</li>
    <li>Un système de gestion d'inventaire ;</li>
    <li>Un espace de gestion du compte ;</li>
  </ul>
  <p>
    Cette liste est non exhaustive et peut être modifiée à tout moment par l'Editeur sans que sa responsabilité ne
    puisse être engagée à ce titre par qui que ce soit.
  </p>

  <h3>
    Article 3. ACCES A L’APPLICATION
  </h3>

  <p>
    Pour accéder et utiliser l’Application, Vous devez posséder un téléphone compatible ou un terminal mobile et un
    accès au réseau Internet.
    <br />
    L’Application est téléchargeable gratuitement depuis les plateformes « Apple Store » et « Google Play Store » sur
    les terminaux mobiles suivants :
  </p>
  <ul>
    <li>téléphone mobile Iphone® d’Apple® disposant du système d’exploitation iOS sous iOS 9 ou plus récent</li>
    <li>téléphone mobile disposant du système d’exploitation Android® OS 5.1 ou plus récent.</li>
  </ul>
  <p>
    La version du logiciel de l’Application peut être mise à jour de temps à autre pour ajouter de nouvelles fonctions
    et de nouveaux services.
  </p>

  <h3>Article 4. CONDITIONS FINANCIERES</h3>
  <p>
    L’Application est proposée gratuitement aux Utilisateurs hors coûts d’abonnement auprès de l’opérateur de téléphonie
    mobile, hors coûts de connexion et d’accès au réseau Internet et hors surcoût éventuel facturé pour le chargement
    des données.
  </p>

  <h3>
    Article 5. APPLICATION DES CGU ET DES CGV
  </h3>

  <p>
    Les CGU et les CGV sont applicables à tout Utilisateur de l’Application et des Services. L'Utilisateur est invité à
    lire attentivement et à chaque visite les CGU qui sont accessibles par hyperlien depuis le menu de navigation de
    l’Application et susceptibles d’être modifiées à tout moment et sans préavis par l'Editeur. L’Application pourra
    faire l’objet d’une mise à jour régulière. A cet égard, toute Application téléchargée par un Utilisateur a une
    validité limitée dans le temps, compte tenu de ces mises à jour à télécharger impérativement et des éventuelles
    évolutions techniques, législatives ou réglementaires, dont l'Editeur n’a pas le contrôle.
  </p>

  <h3>
    Article 6. PROPRIETE INTELLECTUELLE DE L’APPLICATION
  </h3>

  <p>
    L'Editeur est propriétaire exclusif de tous les droits de propriété intellectuelle afférents à l'Application et son
    Contenu, sous réserve des droits des sociétés dont l'Editeur exploite la licence. Sans préjudice des dispositions de
    l’article 6, aucune des dispositions des CGU ne peut être interprétée comme une cession, un transfert, une vente,
    une concession, une licence, un prêt, une location, une autorisation d'exploitation consentie directement ou
    indirectement par l'Editeur au profit de l'Utilisateur sur l'Application son Contenu et/ou les Services.
  </p>

  <h3>
    Article 7. LICENCE D’UTILISATION
  </h3>

  <p>
    L'Editeur concède à l’Utilisateur un droit personnel d’utilisation de l’Application, du Contenu et des Services, non
    exclusif, révocable, non cessible, non transférable, mondial et gratuit uniquement pour ses besoins propres dans le
    cadre de l’utilisation de l’Application et des Services, à l’exclusion de toute autre finalité. Il est strictement
    interdit à l’Utilisateur d’accéder et/ou d’utiliser les codes source de l’Application et/ou des composants logiciels
    de l’Application. L’Utilisateur n’acquiert aucun droit de propriété intellectuelle sur l’Application, le Contenu
    et/ou les Services ni aucun autre droit que ceux conférés par les présentes. La présente licence ne confère aucun
    droit d’utilisation à l’Utilisateur sur le Contenu. L’Utilisateur s’interdit donc de reproduire, représenter,
    adapter et/ou exploiter l’un et l’autre Contenu. L'Utilisateur s'engage expressément à ce que l'utilisation de
    l'Application ne porte en aucun cas atteinte aux droits de l'Editeur, et notamment à ce que cette utilisation ne
    constitue pas un acte de contrefaçon, de concurrence déloyale ou parasitaire du Contenu.
  </p>

  <h3>
    Article 8. OBLIGATIONS DE L’UTILISATEUR
  </h3>
  <p>
    L’Utilisateur s’engage expressément :
  </p>
  <ul>
    <li>à télécharger l’Application sur son équipement exclusivement pour un usage non marchand;</li>
    <li>
      à ne pas reproduire de façon permanente ou provisoire l’Application, en tout ou partie, par tout moyen et sous
      toute forme ;
    </li>
    <li>
      à ne pas utiliser de logiciels ou de procédés destinés à copier le Contenu sans l'autorisation préalable écrite de
      l'Editeur ;
    </li>
    <li>
      à ne pas procéder à toute adaptation, modification, traduction, transcription, arrangement, compilation,
      décompilation, assemblage, désassemblage, transcodage, ni appliquer la rétro-ingénierie (ou « Reverse Engineering
      ») de tout ou partie de l’Application, des Services et/ou du Contenu ;
    </li>
    <li>
      à ne pas exporter l’Application, de fusionner tout ou partie de l’Application avec d'autres programmes
      informatiques ;
    </li>
    <li>
      à ne procéder à des courtes citations, analyses et reproductions destinées à des revues de presse ainsi qu'aux
      autres utilisations expressément autorisées par la loi dans les limites et conditions fixées par cette dernière et
      sous réserve notamment de citer le nom des auteurs et la source éditoriale
    </li>
    <li>
      à renoncer expressément à utiliser des logiciels ou dispositifs susceptibles de perturber le bon fonctionnement de
      l’Application, ni à engager d'action de nature à imposer une charge disproportionnée pour les infrastructures de
      l'Editeur ;
    </li>
    <li>
      à ne pas extraire ou réutiliser, y compris à des fins privées, sans autorisation préalable écrite de l'Editeur,
      une partie substantielle ou non du contenu des bases de données et archives constituées par l'Application ;
    </li>
    <li>
      à ne pas mettre en place des systèmes susceptibles de pirater l’Application et/ou le Contenu en tout ou partie, ou
      de nature à violer les présentes CGU ;
    </li>
    <li>
      à informer l'Editeur dès la connaissance d'un acte de piratage et en particulier de toute utilisation illicite ou
      non contractuelle de l’Application et/ou du Contenu quel que soit le mode de diffusion ;
    </li>
    <li>
      ne pas vendre, louer, sous-licencier ou distribuer de quelque façon que ce soit l’Application et/ou le Contenu à
      des tiers.
    </li>
  </ul>

  <h3>
    Article 9. PROTECTION DES DONNEES PERSONNELLES
  </h3>

  <p>
    Les données personnelles collectées sur l’Application avec votre consentement font l’objet d’un traitement visant
    les finalités suivantes :
    <br />
    - Authentification de l'utilisateur <br />
    Ce traitement est nécessaire pour maintenir le respect des présentes CGU. L'utilisation d'une adresse mail validée
    est nécessaire afun de gérer et administrer les données relatives à votre compte. A défaut de renseignement ou de
    validation de l'adresse mail, aucun service ne peut être utilisé. Le traitement est effectué sous la responsabilité
    de l'Editeur, délégué à la protection des données personnelles, dont les coordonnées sont les suivantes :
    contact@lecoinduprof.com. L'Editeur est seul destinataire des données collectées. Les données sont hébergées par
    Google Firebase dans des serveurs situés aux Etats-Unis, étant précisé que la société Google a adhéré à l’accord
    PRIVACY SHIELD et offre en conséquence un niveau de protection suffisant au regard des recommandations de la
    Commission Nationale de l’Informatique et des Libertés (CNIL). Les données collectées sont conservées 5 ans après la
    date de dernière connexion de l'utilisateur. A l’expiration de cette période, les données sont effacées. Afin de
    préserver la confidentialité et la sécurité de vos données personnelles et notamment de les protéger contre la
    destruction illicite ou accidentelle, la perte ou l’altération accidentelle, ou encore la divulgation ou l’accès non
    autorisé, nous prenons les mesures techniques et organisationnelles appropriées, conformément aux dispositions
    légales applicables. À cette fin, nous avons mis en place des mesures techniques (telles que des pare-feux) et des
    mesures organisationnelles (telles qu’un système d’identifiant / de mot de passe, des moyens de protection physique,
    etc…).
  </p>

  <p>
    Vous disposez du droit d’accéder aux données vous concernant, de les faire rectifier ou effacer, de les transférer
    ou de les faire transférer à un tiers, d’en obtenir la limitation du traitement ou de vous opposer à ce traitement.
    Nous nous conformerons à votre demande sous réserve du respect des obligations légales qui nous incombent. Vous
    disposez du droit de retirer à tout moment votre consentement au traitement des données vous concernant. Le retrait
    de votre consentement n’affecte pas la licéité du traitement effectué avant ce retrait. Vous pouvez mettre en œuvre
    ces droits par courrier électronique à l’adresse suivante : contact@lecoinduprof.com Dans un souci de
    confidentialité et de protection de vos données personnelles, nous devrons être en mesure de vérifier votre identité
    afin de répondre à votre demande. Pour cela, vous devez joindre, à l’appui de toute demande d’exercice des droits
    mentionnés ci-avant, la photocopie d’un titre d’identité mentionnant votre date et votre lieu de naissance et
    portant votre signature et ce, conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 dite « Loi
    Informatique et Libertés », de l’article 92 du décret du 20 octobre 2005 pris pour l’application de cette loi pour
    les ressortissant de la France, et du règlement européen 2016/679 du 27 avril 2016 relatif à la protection des
    personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces
    données. Enfin, vous disposez du droit d’adresser une réclamation à la CNIL si vous estimez que vos droits ne sont
    pas respectés. Les coordonnées de la CNIL sont les suivantes : Commission Nationale de l’Informatique et des
    Libertés 3 Place de Fontenoy TSA 80715 75334 Paris Cedex 07 France Tél. : +33 1 53 73 22 22
  </p>

  <h3>
    Article 10. DISPONIBILITE DE L’APPLICATION
  </h3>

  <p>
    L'Editeur s'engage à faire ses meilleurs efforts pour sécuriser l'accès, la consultation et l'utilisation des
    Services de l’Application. L’Application est accessible 24 heures sur 24, 7 jours sur 7 sauf en cas de force majeure
    ou de survenance d'un évènement hors du contrôle de l'Editeur et sous réserve des éventuelles pannes et
    interventions de maintenance nécessaires au bon fonctionnement de l’Application. Les interventions de maintenance
    pourront être effectuées sans que les Utilisateurs aient été préalablement avertis.
  </p>

  <h3>
    Article 11. LIMITATION DE GARANTIE
  </h3>

  <p>
    L’accès et l’utilisation de l'Application se font aux risques et périls de l'Utilisateur. L’Application et le
    logiciel sont fournis « tel quel » et « comme disponible » sans garantie quelle qu’elle soit. Il appartient à tout
    Utilisateur de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ ou logiciels
    stockés sur ses équipements informatique et téléphonique contre toute atteinte. L'Utilisateur déclare connaître et
    accepter les caractéristiques et les limites du réseau Internet et, notamment les caractéristiques fonctionnelles et
    des performances techniques du réseau Internet ; les problèmes liés à connexion et/ou d'accès au réseau Internet
    et/ou aux sites web ; les problèmes liés à la disponibilité et à l'encombrement des réseaux ; les problèmes liés à
    la défaillance ou à la saturation des réseaux ; les problèmes liés au temps de transit, à l’accès aux informations
    mises en ligne, aux temps de réponse pour afficher, consulter, interroger ou autrement transférer des données ; les
    risques d’interruption ; l'absence de protection de certaines données contre des détournements éventuels ou piratage
    ; les risques de contamination par d’éventuels virus circulant sur les dits réseaux, etc. pour lesquelles la
    responsabilité du Futuroscope ne saurait être engagée. l'Editeur ne peut être tenue pour responsable :
  </p>
  <ul>
    <li>
      en cas de défaut, de perte, de retard ou d’erreur de transmission de données qui sont indépendants de sa volonté ;
    </li>
    <li>de l'envoi de messages et/ou de données et à une adresse fausse, erronée ou incomplète ;</li>
    <li>
      si des données ne lui parvenaient pas, pour quelque raison que ce soit, ou si les données qu’elle reçoit étaient
      illisibles ou impossibles à traiter ;
    </li>
    <li>
      au cas où l’Utilisateur ne parvenait à accéder ou à utiliser le Site, l’Application et/ou les Services pour
      quelque raison que ce soit ;
    </li>
    <li>si, pour quelque raison que ce soit, la connexion devait être interrompue.</li>
  </ul>
  <p>
    Par ailleurs, l'Editeur décline toute responsabilité en cas de mauvaise utilisation du terminal et/ou d'incident lié
    à l'utilisation du terminal lors de l’utilisation de l’Application. L'Editeur ne saurait en aucun cas être tenu
    responsable de tout dommage, de quelque nature que ce soit, causé aux Utilisateurs, à leurs terminaux, à leurs
    équipements informatiques et téléphoniques et aux données qui y sont stockées ni des conséquences pouvant en
    découler sur leur activité personnelle, professionnelle ou commerciale.
  </p>

  <h3>
    Article 12. EVOLUTION DES CONDITIONS GENERALES D'UTILISATION
  </h3>
  <p>
    Les CGU applicables sont celles en vigueur à la date de la connexion et de l’utilisation de l’Application par
    l’Utilisateur. l'Editeur se réserve le droit de modifier, à tout moment, tout ou partie, des dispositions des CGU
    sans préavis ni information préalable des Utilisateurs afin de les adapter aux évolutions des Services, aux
    évolutions techniques, légales ou jurisprudentielles ou lors de la mise en place de nouvelles prestations. Les
    modifications éventuellement apportées par l'Editeur aux CGU seront portées à la connaissance des Utilisateurs par
    leur simple mise en ligne. Elles sont réputées acceptées sans réserve par tout Utilisateur qui accède à
    l’Application postérieurement à ladite mise en ligne. L'Editeur invite donc tout Utilisateur à consulter
    régulièrement les CGU. Tout nouveau Service intégrant de nouvelles techniques ou nouvelles caractéristiques
    améliorant la qualité des Services existants seront aussi soumis aux présentes CGU, sauf disposition expresse
    contraire.
  </p>

  <h3>
    Article 13. RESILIATION
  </h3>

  <p>
    L'Editeur peut mettre fin à l’utilisation de l’Application à tout moment en Vous donnant un préavis de résiliation.
    Au moment de toute résiliation, les droits et les licences qui Vous avaient été accordés seront résiliés et Vous
    devrez cesser toute utilisation de l’Application.
  </p>

  <h3>
    Article 14. CONTACT
  </h3>

  <p>
    Toute question relative à l’Application et/ou aux Services doit être adressée à l'Editeur par courrier électronique
    à l'adresse contact@lescoinduprof.com.
  </p>

  <h3>
    ARTICLE 15. LOI APPLICABLE
  </h3>

  <p>
    Les présentes CGU sont soumises à la loi française. Tout litige ou contestation relatif à l'exécution ou à
    l'interprétation du présent règlement qui n’aura pu être réglé à l'amiable entre les parties sera soumis aux
    tribunaux compétents du ressort de la Cour d'appel de Rouen.
  </p>

  <p>
    Fait à Rouen, le 20 juillet 2018.
  </p>
</ion-text>
