<ion-content class="ion-padding">
  <div class="webcam-container" #container>
    <video *ngIf="!!!cropper" #video id="video" autoplay playsinline>
      <ion-spinner name="dots"></ion-spinner>
    </video>
    <canvas #canvas id="canvas" height="500" width="500"></canvas>
  </div>
</ion-content>

<ion-footer>
  <div>
    <ion-button *ngIf="!!!cropper" (click)="capture()" color="secondary" [disabled]="!isCameraReady">
      <ion-icon slot="start" name="radio-button-on-outline"></ion-icon>
      Prendre la photo
    </ion-button>
    <ion-button *ngIf="!!cropper" (click)="initBrowserCamera(); ionViewDidEnter()" color="light">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Reprendre
    </ion-button>
    <ion-button *ngIf="!!cropper" (click)="validate()" color="secondary">
      <ion-icon slot="start" name="checkmark-outline"></ion-icon>
      Valider
    </ion-button>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="!!!cropper">
      <ion-fab-button color="light">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-button color="light" (click)="flipCamera()">
          <ion-icon name="camera-reverse-outline" slot="end"></ion-icon>
          <ion-label>Changer de camera</ion-label>
        </ion-button>
        <ion-button color="light" (click)="modalController.dismiss()">
          <ion-icon name="close" slot="end"></ion-icon>
          <ion-label>Fermer</ion-label>
        </ion-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-footer>
