.webcam-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;

  video,
  img {
    width: 100%;
    max-width: 100%;
  }

  canvas {
    display: none;
  }
}

ion-footer {
  div {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }

  ion-fab-list {
    right: 0;
    align-items: flex-end;
  }
}
