<ion-content class="ion-padding">
  <div class="webcam-container" #container>
    <video *ngIf="!!!cropper" #video id="video" autoplay playsinline>
      <ion-spinner name="dots"></ion-spinner>
    </video>
    <canvas #canvas id="canvas" height="500" width="500"></canvas>
  </div>
</ion-content>

<ion-footer>
  <div>
    <ion-button *ngIf="!!!cropper" (click)="capture()" color="secondary" [disabled]="!isCameraReady">
      <ion-icon slot="start" name="radio-button-on-outline"></ion-icon>
      Prendre la photo
    </ion-button>
    <ion-button *ngIf="!!cropper" (click)="initBrowserCamera()" color="light">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Reprendre
    </ion-button>
    <ion-button *ngIf="!!cropper" (click)="validate()" color="secondary">
      <ion-icon slot="start" name="checkmark-outline"></ion-icon>
      Valider
    </ion-button>
  </div>
</ion-footer>
