ion-app {
  max-width: 1400px;
  margin: 0 auto;

  ion-fab-list {
    right: 0;
    align-items: flex-end;

    ion-button {
      background-color: white;
    }
  }

  ion-menu {
    --background: rgba(255, 255, 255, 0.5);

    ion-content {
      --background: transparent;
    }
  }

  ion-list {
    padding: 0;

    ion-item:hover {
      --background: var(--ion-color-light);
    }
  }
}
