ion-card {
  --background: white;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.login-with-providers {
  ion-button {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
