<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <h1>En réalité, vous entrez l'adresse que vous voulez.</h1>

    <p class="ion-margin-bottom">
      Une adresse est nécessaire pour vous proposer les partages et les recherches proches de vous sans accéder à votre
      géolocalisation.
    </p>

    <p class="ion-margin-top">
      Chez LeCoinDuProf nous sommes très soucieux du respect de la vie privée. Nous vous suggérons d'entrer l'adresse
      d'un lieu publique proche de chez vous.
    </p>

    <p class="ion-margin-top">
      Que vous utilisiez votre adresse personnelle ou une adresse publique, ça ne change absolument rien pour nous. 😊
    </p>
  </div>
</ion-content>

<ion-footer>
  <div class="ion-text-center">
    <ion-button (click)="modalController.dismiss()" color="secondary">
      <ion-icon slot="start" name="close"></ion-icon>
      Fermer
    </ion-button>
  </div>
</ion-footer>
