<ion-content padding class="ion-text-center">
  <h1>En réalité, vous entrez l'adresse que vous voulez.</h1>

  <p>
    Une adresse est nécessaire pour nous aider à vous proposer les partages et les recherches proches de vous sans avoir
    à accéder à votre géolocalisation.
  </p>

  <p>
    Et puisque chez LeCoinDuProf, nous sommes très soucieux du respect de la vie privée, nous vous suggérons d'entrer
    l'adresse d'un lieu publique proche de la vôtre.
  </p>

  <p>Si vous préférez utiliser votre adresse personnelle, ça ne change absolument rien pour nous. 😊</p>
</ion-content>

<ion-footer>
  <div class="ion-text-center">
    <ion-button (click)="modalController.dismiss()">
      <ion-icon slot="start" name="close"></ion-icon>
      Fermer
    </ion-button>
  </div>
</ion-footer>
