// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
  background: radial-gradient(ellipse at center, var(--ion-color-light) 0%, var(--ion-color-light-tint) 100%);
  background-image: url(/assets/img/home.jpeg);
  background-size: cover;
  background-position: center;
}

ion-content {
  --background: rgba(255, 255, 255, 0.95);
}

ion-footer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// Cordova camera
div.cordova-camera-capture {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222428b5;

  button {
    margin: 1rem;
    font-size: 100%;
    padding: 1rem;
    background-color: var(--ion-color-primary);
    color: white;
    border-radius: 1ex;
  }
}

// Cropperjs
cropper-container {
  max-width: 100%;
}

// Flex helpers
.flex-container {
  height: 100%;
  display: flex;
}
.flex-centered {
  justify-content: center;
  align-items: center;
}

// Page helper
.page-header {
  padding: 0.5rem;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 26vh;
  }
}

// Adsense
ng-adsense {
  background-color: var(--ion-color-light);
}
